{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}


<div class="col-md-6">

  <form method="post" id="form_program">

    <div class="form-group col-md-6">
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="minutes">
        <option selected>How many minutes?</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="7">7</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="number">
        <option selected>How many exercises?</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="7">7</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="type">
        <option selected>Which type?</option>
        <option value="abs">abs</option>
        <option value="legs">legs</option>
        <option value="abs & legs">abs & legs</option>
        <option value="abs & back">abs & back</option>
        <option value="all">all</option>
      </select>
    </div>

  </form>

  <div class="col-md-6">
    <button type="submit" class="btn btn-outline-dark" form="form_program" value="Submit">Submit!</button>
  </div>

</div>

{% endblock %}
