{% extends "layout.html" %}
{% block title %}Page{% endblock %}
{% block body %}


<div class="col-mod-6">

  <div class="form-group col-md-6">

    <ul class="list-group">
      {% for ex in exercises %}
      <li class="list-group-item"><b><font color="#08088A">{{ ex.name }}</font></b> 🕒 <i class="em em-clock8"></i>
        <font color="#FF8000">{{ ex.time }}</font></li>
      {% endfor %}
    </ul>
  </div>


  <div class="form-group col-md-6">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-dark" onclick="window.location.href='{{ url_for( 'home' ) }}';">Back</button>
      </div>
      <div class="col">
        <form>
          <input type="button" class="btn btn-outline-dark" onClick="history.go(0)" value="Refresh">
        </form>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-dark" onclick="window.location.href='{{ url_for( 'run' ) }}';">Run!</button>
      </div>
    </div>
  </div>


</div>


{% endblock %}
